body {
    background-image: url('https://static.vecteezy.com/system/resources/previews/005/930/371/large_2x/nature-landscape-background-beautiful-view-of-the-morning-fog-filling-the-valleys-of-smooth-hills-mountain-range-layer-dark-blue-forest-sunrise-and-sunset-in-mountains-with-purple-sky-dramatic-free-photo.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: 'Playwrite HU', cursive;
    padding-bottom: 20vh;
    
}

.container {
    display: flex; 
    height: 70px;
}
#box {
    margin-left: 50px;
    width: 90%; /* Each div takes half of the container's width */
    padding: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;}

.header {
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    margin-left: 10px;
    width: 50px;
    height: 70px;
}

#biggestdiv {
    border: 5px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
    margin: 50px auto;
    width: 90%;
    padding: 20px;
    border-radius: 15px;
    /* padding-bottom:20vh ; */
    box-shadow:0px 0px 20px rgb(0, 0, 0) ;
}

.languages {
    display: flex;
    gap: 20px;
    border-radius: 20px;
    margin-left: 10px;
        
}

.heading01 {
    text-decoration: none;
    font-size: 2vh;
    color: white;
}
.heading01 :hover{
    border: 5px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.9);
    font-size: 2vh;
    color: white;
}


.user-options {
    text-decoration: none;
    display: flex;
    gap: 20px;
}

.profile {
    color: white;
    font-size: 1.5vh;
    box-shadow:0px 0px 3px white ;
}

#bdiv {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.navbar {
    color: white;
    font-size: 1vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    width: 80px;;
    box-sizing: border-box;
    border-radius:15px;
    padding-bottom: 33vh;
    
    
}

.right_slider {
    color:white;
    flex:1;
    display: fle;
    width:100px;
    justify-content: center;
    border: 5px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    box-sizing: border-box;
    border-radius:15px;
    text-align: center;
    border: 5px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.2);
    padding-right: 1vh;
}

#sel01 {
    font-size:1.5vh;
    padding: 5px;
    border-radius: 5px;
    width: 25vh;
    margin-left: -29vh;
    box-shadow:0px 0px 6px white ;    
}

.main-content{
    flex:5;
    margin: 0 15px;
    border-radius: 15px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    box-sizing: border-box;
    

}


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
}
.box {
    border-radius:20px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px;
    border: 1px solid #ccc;
    text-align: center;
}
.box a {
    text-decoration: none;
    color: white;
}

.scroll {
    width: 150px;
    padding: 20px; 
    border-radius: 10px;
    margin-top:10px
}

.scrollable-section {
    height: 500px; 
    overflow-y: scroll; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color:rgba(255,255,255,0.1 );
}

.scrollable-section a {
    color:white;
    text-decoration: none;
    margin: 10px 0;
}

.sidescroll{
    margin-top: 20px;
    color:white;
    height: 500px; 
    overflow-y: scroll; 
    padding: 10px;
    border-radius: 10px;
}
.slider img{
    margin:10px 20px;
    

}