{% extends "base.html"%}

{%block title%} Liked Songs {%endblock%}

{%block heading%}Your Liked Songs {%endblock%}

{%block body%} 

<div class="profile-container">
                    
    <div class="grid-container" style="color:rgb(255, 255, 255); "> 
        
        {% for i in songs %}

        <div class="card" style="width: 18rem; border-radius:20px ;border: 3px solid rgb(255, 255, 255,0.4);">

            <img class="card-img-top" src='{{i.image.url}}' alt="Card image cap" style="margin-top:20px;height: 200px;width:200px;border-radius:20px">
            <div class="card-body">
              <h4 class="card-title">{{i.name}}</h4>
              <p class="card-text">{{i.singer}}</p>
              <a href="songs/{{i.id}}" ><img src="https://i.pinimg.com/564x/0c/4a/60/0c4a604e156f13ad2527cd144458519f.jpg" style="height:60px;border-radius:50%;"></a>
            </div><br>
            
        </div>
        
        {% empty %}
        <p>No liked songs found.</p>
        
        {% endfor %}
    </div>
</div>

{%endblock%}