{% extends "base.html"%}


{%block title%} {{song.name}} {%endblock%}

{%block heading%} {%endblock%}

{%block body%} 
<div class="profile-container">
    <br>     
    <div class="scards" style="border:2px solid white;border-radius:10px;text-align:center;margin-left:250px;width:400px"><br>
        <img class="card-img-top" src="/media/{{song.image}}" style='border-radius:10px;height:200px;width:200px' alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">Song name: {{song.name}}</h3>
          <a href="#" class="card-link">Artist: {{song.singer}}</a><br>
          <a href="#" class="card-link">Tags: {{ song.tags}}</a><br>


          

          {% if song.is_liked %}
          <a onclick="window.location.href='{% url 'liked' song.id %}'"><img src="https://i.pinimg.com/564x/63/93/33/6393338a9af809b0e182f8be6534fdc7.jpg" height="50px" style="border-radius:50% ;"></a>
          {% else %}
          <a onclick="window.location.href='{% url 'liked' song.id %}'"><img src="https://i.pinimg.com/564x/58/d5/83/58d58332627e4ba47ac78ff3b4345db8.jpg" height="50px" style="border-radius:50% ;"></a>
          {% endif %}
                    
          <br>
          <audio controls>
            <source src='{{song.song.url}}' type='audio/mp3'>
          </audio><br>
        </div>
      </div>
</div>
{%endblock%}