{% extends "base.html"%}
{%load static%}


{%block title%} Login {%endblock%}

{%block heading%} {%endblock%}

{%block body%} 
<div class="profile-container">
                    
    <div class="grid-container" style="color:rgb(255, 255, 255); "> 
        
        <style>
            section 
            { position: absolute;
              width: 60vw;
              height: 100vh;
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 2px;
              flex-wrap: wrap;
              overflow: hidden;
            }
            
            
            
            section .signin
            {
              position: absolute;
              width: 400px;
              background: rgba(255, 255, 255, 0.3);  
              z-index: 1000;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 40px;
              border-radius: 4px;
              box-shadow: 0 15px 35px rgba(0,0,0,9);
            }
            section .signin .content 
            {
              position: relative;
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              gap: 20px;
            }
            section .signin .content h2 
            {
              font-size: 2em;
              color: rgb(255, 255, 255);
              text-transform: uppercase;
            }
            section .signin .content .form 
            {
              width: 100%;
              display: flex;
              flex-direction: column;
              gap: 15px;
            }
            section .signin .content .form .inputBox
            {
              position: relative;
              width: 100%;
            }
            section .signin .content .form .inputBox input 
            {
              position: relative;
              width: 100%;
              background: rgba(255, 255, 255, 0.3);
              border: none;
              outline: none;
              padding: 25px 10px 7.5px;
              border-radius: 4px;
              color: #000000;
              font-weight: 500;
              font-size: 1em;
            }
            section .signin .content .form .inputBox i 
            {
              position: absolute;
              left: 0;
              padding: 15px 10px;
              font-style: normal;
              color: #ffffff;
              transition: 0.5s;
              pointer-events: none;
            }
            .signin .content .form .inputBox input:focus ~ i,
            .signin .content .form .inputBox input:valid ~ i
            {
              transform: translateY(-7.5px);
              font-size: 0.8em;
              color: #fff;
            }
            .signin .content .form .links 
            {
              position: relative;
              width: 100%;
              display: flex;
              justify-content: space-between;
            }
            .signin .content .form .links a 
            {
              color: #fff;
              text-decoration: none;
            }
            .signin .content .form .links a:nth-child(2)
            {
              color: rgb(255, 255, 255);
              font-weight: 600;
            }
            .signin .content .form .inputBox input[type="submit"]
            {
              padding: 10px;
              background: rgb(255, 255, 255);
              color: #000000;
              font-weight: 600;
              font-size: 1.35em;
              letter-spacing: 0.05em;
              cursor: pointer;
            }
            input[type="submit"]:active
            {
              opacity: 0.6;
            }
            
            
            </style>

            <section> 
                <div class="signin"> 
             
                 <div class="content"> 
             
                  <h2>Sign In</h2> 
             
                  <div class="form"> 
             
                   <div class="inputBox"> 
             
                    <input type="text" required> <i>Username</i> 
             
                   </div> 
             <br>
                   <div class="inputBox"> 
             
                    <input type="password" required> <i>Password</i> 
             
                   </div> <br> 
             
                   <a href="#signup" style="text-decoration:none;color:#8b0069">* don't have an account signup here</a>
             
                 <div class="inputBox"> 
             
                    <input type="submit" value="Login"> 
             
                   </div> 
             
                  </div> 
             
                 </div> 
             
                </div> 
             
               </section>

    </div>
</div>
{%endblock%}